.navbar{background:#293241;}
.selector{
    margin: 1em auto;
    border: 1px solid purple;
    text-align: center;
}
.hola{
    background-color: rgb(238, 108, 77);
    background-color:rgb(255, 99, 132);
}